<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>137036528427-6bqc1fb043u495ebjrmor36o5koiovip.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.137036528427-6bqc1fb043u495ebjrmor36o5koiovip</string>
	<key>API_KEY</key>
	<string>AIzaSyDn3CMuI5N8duERfsZySTOHMeSMxeVbk5w</string>
	<key>GCM_SENDER_ID</key>
	<string>137036528427</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bartuozel.egg</string>
	<key>PROJECT_ID</key>
	<string>egg-game-5db5a</string>
	<key>STORAGE_BUCKET</key>
	<string>egg-game-5db5a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:137036528427:ios:f82f5727d0b162efce636e</string>
</dict>
</plist>